/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body { font: 16px Helvetica, Arial; }

main { 
	display: flex;
	height: 100%;
	flex-direction: row;
}
.form-container, .messages { padding: 20px; }
.form-container { 
	flex: 1; 
	border: 6px solid #bfcfd6;
	background-color: #e3edf1;

	label { display: block; margin-bottom: 0.5rem; }
}

.messages { 
	flex: 2;
	background-color: #eee;
	border: 6px solid #e2e0e0; 
}

input, textarea { 
	display: block; 
	width: 100%;
	border: 2px solid #bfcfd6;
	//border-color: #bfcfd6; 
	border-radius: 4px; 
	font-size: 0.8rem; 
	padding: 0.4rem; 
	border-style: solid;
}

textarea { height: 135px; }

.hidden{
	display: none !important;
}



form {
	//background: #000;
	padding: 3px;
	margin: 12px auto;

	input[type=submit] { 
		width: auto; 
		padding: 10px; 
		background-color: rgb(75, 200, 17);
		margin-top: 1rem; 
		border-radius: 8px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
	}
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}

.bg-modal{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.7);
	position: absolute;
	top: 0;
}

.modal-content{
	width: 500px;
	height: 250px;
	background-color: white;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	form{
		margin: 0;
		padding: 0;
		text-align: center;
	}

	input{
		width: 50%;
		margin: 15px auto;
		display: block;
	}
	button{
		display: block;
		padding: 8px 35px 8px 35px;
		color: white;
		background-color: #86bf9d;
		border: 0;
		border-radius: 4px;
		margin: 30px auto;
	} 
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	}
	@-webkit-keyframes bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
	}
	20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
	-webkit-transform: scale3d(.9, .9, .9);
	transform: scale3d(.9, .9, .9);
	}
	60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
	-webkit-transform: scale3d(.97, .97, .97);
	transform: scale3d(.97, .97, .97);
	}
	100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
	}
	@keyframes bounceIn {
	0%, 20%, 40%, 60%, 80%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
	opacity: 0;
	-webkit-transform: scale3d(.3, .3, .3);
	transform: scale3d(.3, .3, .3);
	}
	20% {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
	-webkit-transform: scale3d(.9, .9, .9);
	transform: scale3d(.9, .9, .9);
	}
	60% {
	opacity: 1;
	-webkit-transform: scale3d(1.03, 1.03, 1.03);
	transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
	-webkit-transform: scale3d(.97, .97, .97);
	transform: scale3d(.97, .97, .97);
	}
	100% {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	}
	} 

	.slideInRight {
		-webkit-animation-name: slideInRight;
		animation-name: slideInRight;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		}
		@-webkit-keyframes slideInRight {
		0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		visibility: visible;
		}
		100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		}
		}
		@keyframes slideInRight {
		0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
		visibility: visible;
		}
		100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		}
		} 
	  

// imports

@import 'modules/_message';
