<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Noah's Chat App</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">

		<div class="bg-modal">
			<div class="modal-content">
				<form action="">
					<label for="nickname">Your Nickname (optional)</label>
					<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
					<button @click.prevent="submitNickname">Submit</button>
				</form>
			</div>
		</div>

		<section class="form-container">


			<form>
				<label for="message">Something to say?</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input @click.prevent="dispatchMessage" type="submit">
			</form>
		</section>

		<section class="messages">

				<!-- <greetmsg v-for="message in messages" :msg="message"></greetmsg> -->
				<greetmsg v-for="message in messages" :msg="message"></greetmsg>
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages" :msg="message"></newmessage>
			</ul>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.5/gsap.min.js"></script>
</body>

</html>